/* debug styles */

.debug-layout body {
	background: #333;
}

.debug-layout .page {
	background-color: #fff;
}

.debug-layout .page-header {
	background-color: #bbb;
}

.debug-layout .page-footer {
	background-color: #ccc;
}

.debug-layout .page-content {
	background-color: #eee;
}

.debug-layout .page-related {
	background-color: #ddd;
}

.debug-layout .page-content .module {
	background-color: #789048;
	padding: 5px;
	height: 64px;
}

.debug-layout .page-related .module {
	background-color: #607848;
	padding: 5px;
	height: 64px;
}

.debug-layout .page-header .module,
.debug-layout .page-footer .module {
	background-color: #604848;
	padding: 5px;
	height: 48px;
}

