/****************************************************************************
*
* Grid layout
*
****************************************************************************/

.grid-container {
	margin: 0;
}

#content.grid-container {
	margin: 0;
	width: 640px;
}

.unit {
	overflow: hidden;
}

.block {
	margin: 5px;
	float: left;
}

