/****************************************************************************
*
* Page layout
*
****************************************************************************/

#page {
	background: #fff;
	width: 970px;
	margin: 24px auto;
	overflow: hidden;
	padding: 5px;
}

#header, #footer, #content, #related {
	float: left;
	margin: 5px;
}

#header, #footer {
	width: 960px;
	clear: both;
}

#content {
	width: 640px;
}

#related {
	width: 310px;
}

