/****************************************************************************
*
* Grid layout
*
****************************************************************************/

.grid-container {
	margin: 0;
}

.unit {
	overflow: hidden;
}

.block {
	margin: 5px;
	float: left;
}

.outer {
	padding: 5px;
}
