/****************************************************************************
*
* Page layout
*
****************************************************************************/

#page {
	background: #fff;
	margin: 24px auto;
	overflow: hidden;
}

